{
  "insertPragma": false,
  "requirePragma": false,
  "editorconfig": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": [],
      "options": {
        "printWidth": 120,
        "proseWrap": "never"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "semi": true
}
