{
  "printWidth": 80,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "es5",
  "insertPragma": false,
  "requirePragma": false,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "overrides": [
    {
      "files": "src/core/function/makeSettler.ts",
      "options": {
        "printWidth": 120,
        "proseWrap": "preserve"
      }
    },
    {
      "files": "src/README.md",
      "options": {
        "printWidth": 120,
        "proseWrap": "preserve"
      }
    }
  ]
}
